{% extends 'trustee/base.html' %}
{% block content %}

<style>
    .mapDiv{
      padding-left:80px;
    }
    .contact{
    padding-left:80px;
    }
    @media screen and (max-width:1024px) {
.mapDiv{
      padding-left:13px;
    }
}
@media only screen and (max-device-width: 480px) {
       /* styles for mobile browsers smaller than 480px;  */
.row .col.s6 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.contact {
    padding-left: 0px;
}
}

    </style>
<div class="headingcontact">
    <center>
          <h3 style="font-size:23px;font-style:italic; color:brown;"> Contact Us</h3>
    </center>
</div>
<div class="mapDiv">
		   <!--  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1206.4757963005231!2d-0.154311!3d52.787181!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe767bf79d377b61f!2sGurkha+Oven!5e0!3m2!1sen!2sin!4v1530010963618" width="900" height="570" frameborder="0" style="border:0" allowfullscreen></iframe>-->
 <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15228.793452979293!2d78.548992!3d17.4022656!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1551365983318" width="1000" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div class="contact">
       <div class = "row">
       <div class="col s6">
       {% if messages %}
<ul>
	{% for message in messages %}
	   <li>{{ message }}</li>
	{% endfor %}
</ul>
	{% endif %}
       <br>
        <div class="z-depth-1 grey lighten-4 row" style="display: block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
    <form method="post">
          {% csrf_token %}
        <table>
          {{ form.as_p }}
            </table>
          <button type="submit">Send</button>

    </form>
        </div></div>
            <div class="col s6">
           <div class="contact">
                <h3 style="padding-left:30px;font-size:23px;font-style:italic; color:brown;"> Address</h3>
                <p style="padding-left:30px;font-size:13px;">Melbourne St.South Birbane 4101<br>Australia</p>
               <h3 style="padding-left:30px;font-size:23px;font-style:italic; color:brown;"> Email</h3>
                <p style="padding-left:30px;font-size:13px;">info@example.com</p>
               <h3 style="padding-left:30px;font-size:23px;font-style:italic; color:brown;"> Phone</h3>
                <p style="padding-left:30px;font-size:13px;">(000)1122333<br>+(000)123456532/p>

           </div></div>

 </div></div>
{% endblock %}