{% extends "trustee/base.html" %}
{%load static %}
{% block content %}
<style>
.block{
     margin:40px;
}
@media only screen and (max-device-width: 480px) {
.row .col.s3 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.btn{
     margin-bottom:12px;
}
}
</style>
<div class="tution">
    <center><h4 style="font-style:italic;">We Are Offering Class Tution For 11th & 12th Class Students <br>In Following Subjects</h4></center>
 <hr style="width:50%;">
</div>
<div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row halign-wrapper">

            <div class="col s12">

                <div class="col s2"></div>
                <div class="col s3">
                   <center>  <img src="{% static "images/projects.png" %}" alt="" >


                       <h4 style="font-size:18px;font-style:italic; color:brown;"> Physics </h4></center>
<hr style="width:100%;">
                </div>

                <div class="col s3">
                    <center> <img src="{% static "images/projects.png" %}" alt="" >


                        <h4 style="font-size:18px;font-style:italic; color:brown;"> Chemistry </h4></center>
<hr style="width:100%;">
                </div>


                <div class="col s3">
                 <center>   <img src="{% static "images/projects.png" %}" alt="" >


                    <h4 style="font-size:18px;font-style:italic; color:brown;"> Mathematics </h4></center>
<hr style="width:100%;">
                </div>

                </div>
<div class="col s12">

                <div class="col s2"></div>
                <div class="col s3">
                    <center> <img src="{% static "images/projects.png" %}" alt="" >


                        <h4 style="font-size:18px;font-style:italic; color:brown;"> Biology(Coming Soon) </h4></center>
                    <hr style="width:100%;">
                </div>

                <div class="col s3">
                   <center>  <img src="{% static "images/projects.png" %}" alt="" >


                       <h4 style="font-size:18px;font-style:italic; color:brown;"> Accounts(Coming Soon) </h4></center>
<hr style="width:100%;">
                </div>


                <div class="col s3">
                   <center>  <img src="{% static "images/projects.png" %}" alt="" >


                       <h4 style="font-size:18px;font-style:italic; color:brown;"> English (Coming Soon) </h4></center>
<hr style="width:100%;">
                </div>

                </div>

</div>
        </div></div>

<div class="block">
<center>
    <a class="waves-effect waves-light voilet btn">Apply Online & Save More</a>
    <a class="waves-effect waves-light green btn">Know More About Tution for 11th and 12th</a></center>

    <center><p style="font-style:italic;color:blue">We are having a dedicated team to provide best tution for 11-12 classes.
    Time is never a limitation to learn.Discover new learning possiblities<br>and be future ready.</p></center>
</div>

{% endblock %}