{% extends "trustee/base.html" %}
{%load static %}
{% block content %}
<style>
.block{
     margin:40px;
}
@media only screen and (max-device-width: 480px) {
.row .col.s3 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.btn{
     margin-bottom:12px;
}
}
</style>
<div class="tution">
    <center><h4 style="font-style:italic;">We Are Offering Class Tution For 11th & 12th Class Students <br>In Following Subjects</h4></center>
 <hr style="width:50%;">
</div>
<div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row halign-wrapper">
              <h3 style="color:green;font-style:oblique;"><u>Science (PCMB, PCMC, PCME):</u></h3>
            <div class="col s12">


                <div class="col s3">
                   <center>  <i class="large material-icons" style="color:blue;">flash_on</i>


                       <h4 style="font-size:18px;font-style:italic; color:brown;"> Physics </h4></center>
<hr style="width:100%;">
                </div>

                <div class="col s3">
                    <center> <i class="large material-icons" style="color:pink;">local_pharmacy</i>


                        <h4 style="font-size:18px;font-style:italic; color:brown;"> Chemistry </h4></center>
<hr style="width:100%;">
                </div>


                <div class="col s3">
                 <center>   <i class="large material-icons" style="color:green;">code</i>


                    <h4 style="font-size:18px;font-style:italic; color:brown;"> Mathematics </h4></center>
<hr style="width:100%;">
                </div>
                <div class="col s3">
                    <center> <i class="large material-icons" style="color:green;">grain</i>


                        <h4 style="font-size:18px;font-style:italic; color:brown;"> Biology(Coming Soon) </h4></center>
                    <hr style="width:100%;">
                </div>

                </div>
          </div></div></div>
<div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row halign-wrapper">
                 <h3 style="color:green;font-style:oblique;"><u>Commerce (HEBA, CEBA, MSBA, SEBA):</u></h3>
<div class="col s12">

      <div class="col s3">
                   <center>  <i class="large material-icons" style="color:purple;">public</i>


                       <h4 style="font-size:18px;font-style:italic; color:brown;"> History </h4></center>
<hr style="width:100%;">
                </div>

  <div class="col s3">
                   <center>  <i class="large material-icons" style="color:purple;">explicit</i>


                       <h4 style="font-size:18px;font-style:italic; color:brown;"> Economics </h4></center>
<hr style="width:100%;">
                </div>



                <div class="col s3">
                   <center>  <i class="large material-icons" style="color:purple;">business</i>


                       <h4 style="font-size:18px;font-style:italic; color:brown;"> Business Studies </h4></center>
<hr style="width:100%;">
                </div>


                <div class="col s3">
                   <center>  <i class="large material-icons" style="color:purple;">account_balance_wallet</i>


                       <h4 style="font-size:18px;font-style:italic; color:brown;"> Accounts </h4></center>
<hr style="width:100%;">
                </div>

                </div>

              <div class="col s12">

      <div class="col s3">
                   <center>  <i class="large material-icons" style="color:purple;">desktop_mac</i>


                       <h4 style="font-size:18px;font-style:italic; color:brown;"> Computer </h4></center>
<hr style="width:100%;">
                </div>

  <div class="col s3">
                   <center>  <i class="large material-icons" style="color:purple;">all_inclusive</i>


                       <h4 style="font-size:18px;font-style:italic; color:brown;"> Statistics </h4></center>
<hr style="width:100%;">
                </div>




                </div>
          </div></div></div>
<div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row halign-wrapper">
 <h3 style="color:green;font-style:oblique;"><u>Arts (HEPS):</u></h3>
<div class="col s12">

      <div class="col s3">
                   <center>  <i class="large material-icons" style="color:grey;">public</i>


                       <h4 style="font-size:18px;font-style:italic; color:brown;"> History </h4></center>
<hr style="width:100%;">
                </div>

  <div class="col s3">
                   <center>  <i class="large material-icons" style="color:grey;">explicit</i>


                       <h4 style="font-size:18px;font-style:italic; color:brown;"> Economics </h4></center>
<hr style="width:100%;">
                </div>



                <div class="col s3">
                   <center>  <i class="large material-icons" style="color:grey;">monetization_on</i>


                       <h4 style="font-size:18px;font-style:italic; color:brown;"> Political Science </h4></center>
<hr style="width:100%;">
                </div>




                </div>
          </div></div></div>
<div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row halign-wrapper">
                <h3 style="color:green;font-style:oblique;"><u>Languages:</u></h3>
              <div class="col s12">

      <div class="col s3">
                   <center>  <i class="large material-icons" style="color:pink;">language</i>


                       <h4 style="font-size:18px;font-style:italic; color:brown;"> Kannada </h4></center>
<hr style="width:100%;">
                </div>

  <div class="col s3">
                   <center>  <i class="large material-icons" style="color:pink;">language</i>


                       <h4 style="font-size:18px;font-style:italic; color:brown;"> Hindi </h4></center>
<hr style="width:100%;">
                </div>
<div class="col s3">
                   <center>  <i class="large material-icons" style="color:pink;">language</i>


                       <h4 style="font-size:18px;font-style:italic; color:brown;"> English </h4></center>
<hr style="width:100%;">
                </div>



                </div>
</div>
        </div></div>

<div class="block">
<center>

    <a class="waves-effect waves-light green btn" href="{% url 'contact' %}">Know More About Tution for 11th and 12th</a></center>

    <center><p style="font-style:italic;color:blue">We are having a dedicated team to provide best tution for 11-12 classes.
    Time is never a limitation to learn.Discover new possiblities of learning<br>and be future ready.</p></center>
</div>

{% endblock %}